.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clicable {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forecast-panel {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.forecast-panel-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forecast-panel-details-info {
  color: #878787;
  text-align: left;
}

.forecast-panel-details-right {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  color: #878787;
  text-align: left;
}

.forecast-temperature-highlight {
  color: #212121;
  font-size: 64px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.forecast-cards {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.forecast-card {
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #bababa;
}

.forecast-rain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.forecast-wind {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.forecast-weekday {
  align-self: center;
  color: #bababa;
}

.forecast-selected-day {
  background-color: #fcfcfc;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  margin: 0;
}
