.clicable {
  cursor: pointer;
}

.container-center {
  @extend .flex-column;
  align-items: center;
}

.d-none {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.link-climatempo {
  color: #878787;
  display: block;
  font-size: 11px;
  margin: 5px;
  padding-left: 20px;
  text-decoration: none;
}

.link-climatempo:hover {
  color: #878787;
}

.w-600 {
  width: 600px;
}
